
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: rgb(255, 122, 122);
    height: auto;
}

.recipes{
    padding: 50px;
    background-color: rgb(200, 200, 122);
    flex: 2;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 15px;
}


.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: rgb(200, 200, 200)
}

.recipe-item:hover {
    background-color: rgb(255, 200, 122);
}

.recipe-item figcaption {
    font-size: 25px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: rgb(200, 150, 0);
}

.title {
    padding: 25px;
    min-width: 25%;
    width: 75%;
    text-align: center;
    background-color: rgb(200, 200, 122);
}

.headings {
    min-width: 25%;
    width: 50%;
    text-align: center;
    padding: 25px;
    margin: 0 0 25px 0;
    background-color: rgb(255, 122, 122);
}

.medium {
    width: 300px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}